/* InkBlocks Theme - Notion-inspired styles */

.InkBlocksTheme__paragraph {
    margin: 0;
    position: relative;
    line-height: 1.5;
    color: rgb(55, 53, 47);
}

.InkBlocksTheme__quote {
    margin: 4px 0;
    padding-left: 14px;
    border-left: 3px solid rgb(55, 53, 47);
    font-size: inherit;
    color: rgb(55, 53, 47);
}

.InkBlocksTheme__h1 {
    font-size: 1.875em;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 0.5;
    margin-bottom: 5px;
    color: rgb(55, 53, 47);
}

.InkBlocksTheme__h2 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 1.4em;
    margin-bottom: 1px;
    color: rgb(55, 53, 47);
}

.InkBlocksTheme__h3 {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 1em;
    margin-bottom: 1px;
    color: rgb(55, 53, 47);
}

.InkBlocksTheme__indent {
    --lexical-indent-base-value: 24px;
}

.InkBlocksTheme__textBold {
    font-weight: 600;
}

.InkBlocksTheme__paragraph mark {
    background-color: unset;
}

.InkBlocksTheme__textHighlight {
    background: rgb(251, 243, 219);
    padding: 0 2px;
    margin: 0 -2px;
}

.InkBlocksTheme__textItalic {
    font-style: italic;
}

.InkBlocksTheme__textUnderline {
    text-decoration: underline;
}

.InkBlocksTheme__textStrikethrough {
    text-decoration: line-through;
}

.InkBlocksTheme__textUnderlineStrikethrough {
    text-decoration: underline line-through;
}

.InkBlocksTheme__tabNode {
    position: relative;
    text-decoration: none;
}

.InkBlocksTheme__tabNode.InkBlocksTheme__textUnderline::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.15em;
    border-bottom: 0.1em solid currentColor;
}

.InkBlocksTheme__tabNode.InkBlocksTheme__textStrikethrough::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0.69em;
    border-top: 0.1em solid currentColor;
}

.InkBlocksTheme__tabNode.InkBlocksTheme__textUnderlineStrikethrough::before,
.InkBlocksTheme__tabNode.InkBlocksTheme__textUnderlineStrikethrough::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.InkBlocksTheme__tabNode.InkBlocksTheme__textUnderlineStrikethrough::before {
    top: 0.69em;
    border-top: 0.1em solid currentColor;
}

.InkBlocksTheme__tabNode.InkBlocksTheme__textUnderlineStrikethrough::after {
    bottom: 0.05em;
    border-bottom: 0.1em solid currentColor;
}

.InkBlocksTheme__textSubscript {
    font-size: 0.8em;
    vertical-align: sub !important;
}

.InkBlocksTheme__textSuperscript {
    font-size: 0.8em;
    vertical-align: super;
}

.InkBlocksTheme__textCode {
    background-color: rgba(135, 131, 120, 0.15);
    border-radius: 3px;
    padding: 0.2em 0.4em;
    font-family: 'SFMono-Regular', Menlo, Consolas, 'PT Mono', 'Liberation Mono', Courier, monospace;
    font-size: 85%;
    color: #eb5757;
}

.InkBlocksTheme__textLowercase {
    text-transform: lowercase;
}

.InkBlocksTheme__textUppercase {
    text-transform: uppercase;
}

.InkBlocksTheme__textCapitalize {
    text-transform: capitalize;
}

.InkBlocksTheme__hashtag {
    background-color: rgba(35, 131, 226, 0.1);
    color: rgb(35, 131, 226);
    padding: 0 4px;
    border-radius: 3px;
}

.InkBlocksTheme__link {
    color: rgb(55, 53, 47);
    text-decoration: underline;
    text-decoration-color: rgba(55, 53, 47, 0.4);
    text-underline-offset: 2px;
}

.InkBlocksTheme__link:hover {
    text-decoration-color: rgb(55, 53, 47);
    cursor: pointer;
}

.InkBlocksTheme__blockCursor {
    display: block;
    pointer-events: none;
    position: absolute;
}

.InkBlocksTheme__blockCursor:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    width: 20px;
    border-top: 1px solid rgb(55, 53, 47);
    animation: CursorBlink 1.1s steps(2, start) infinite;
}

@keyframes CursorBlink {
    to {
        visibility: hidden;
    }
}

.InkBlocksTheme__code {
    background-color: rgb(247, 246, 243);
    font-family: 'SFMono-Regular', Menlo, Consolas, 'PT Mono', 'Liberation Mono', Courier, monospace;
    display: block;
    padding: 32px 16px 32px 52px;
    line-height: 1.5;
    font-size: 0.875em;
    margin: 4px 0;
    overflow-x: auto;
    position: relative;
    tab-size: 2;
    border-radius: 3px;
    color: rgb(55, 53, 47);
}

.InkBlocksTheme__code:before {
    content: attr(data-gutter);
    position: absolute;
    left: 0;
    top: 0;
    padding: 32px 8px;
    color: rgba(55, 53, 47, 0.4);
    white-space: pre-wrap;
    text-align: right;
    min-width: 32px;
    background-color: transparent;
    border-right: none;
}

.InkBlocksTheme__ul,
.InkBlocksTheme__ol1,
.InkBlocksTheme__ol2,
.InkBlocksTheme__ol3,
.InkBlocksTheme__ol4,
.InkBlocksTheme__ol5 {
    margin: 0;
    padding-left: 1.5em;
    list-style-position: outside;
}

.InkBlocksTheme__ul {
    list-style-type: disc;
}

.InkBlocksTheme__ol1 {
    list-style-type: decimal;
}

.InkBlocksTheme__ol2 {
    list-style-type: lower-alpha;
}

.InkBlocksTheme__ol3 {
    list-style-type: lower-roman;
}

.InkBlocksTheme__ol4 {
    list-style-type: decimal;
}

.InkBlocksTheme__ol5 {
    list-style-type: lower-alpha;
}

.InkBlocksTheme__listItem {
    margin: 0;
    padding-left: 0.2em;
    line-height: 1.5;
    color: rgb(55, 53, 47);
}

.InkBlocksTheme__listItem::marker {
    color: rgb(55, 53, 47);
}

.InkBlocksTheme__listItemChecked,
.InkBlocksTheme__listItemUnchecked {
    position: relative;
    margin-left: 0;
    padding-left: 24px;
    list-style-type: none;
    outline: none;
    display: block;
    min-height: 1.5em;
    line-height: 1.5;
}

.InkBlocksTheme__listItemChecked>*,
.InkBlocksTheme__listItemUnchecked>* {
    margin-left: 0;
}

.InkBlocksTheme__listItemUnchecked:before,
.InkBlocksTheme__listItemChecked:before {
    content: '';
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    cursor: pointer;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 3px;
}

.InkBlocksTheme__listItemChecked {
    color: rgba(55, 53, 47, 0.65);
    text-decoration: line-through;
}

.InkBlocksTheme__listItemUnchecked:focus:before,
.InkBlocksTheme__listItemChecked:focus:before {
    box-shadow: 0 0 0 2px rgb(35, 131, 226);
}

.InkBlocksTheme__listItemUnchecked:before {
    border: 1.5px solid rgba(55, 53, 47, 0.4);
    background: transparent;
}

.InkBlocksTheme__listItemUnchecked:hover:before {
    background: rgba(55, 53, 47, 0.05);
}

.InkBlocksTheme__listItemChecked:before {
    border: none;
    background-color: rgb(35, 131, 226);
}

.InkBlocksTheme__listItemChecked:after {
    content: '';
    cursor: pointer;
    border-color: #fff;
    border-style: solid;
    position: absolute;
    display: block;
    top: 50%;
    width: 3.5px;
    left: 6px;
    height: 7px;
    transform: translateY(-55%) rotate(45deg);
    border-width: 0 2px 2px 0;
}

.InkBlocksTheme__nestedListItem {
    list-style-type: none;
}

.InkBlocksTheme__nestedListItem:before,
.InkBlocksTheme__nestedListItem:after {
    display: none;
}

.InkBlocksTheme__hr {
    padding: 0;
    border: none;
    margin: 6px 0;
    cursor: pointer;
    height: 1px;
}

.InkBlocksTheme__hr:after {
    content: '';
    display: block;
    height: 1px;
    background-color: rgba(55, 53, 47, 0.16);
}

.InkBlocksTheme__hr.InkBlocksTheme__hrSelected {
    outline: none;
    background-color: rgba(35, 131, 226, 0.2);
}

.InkBlocksTheme__hr.InkBlocksTheme__hrSelected:after {
    background-color: rgb(35, 131, 226);
}