@import "@inkblocks/core/style.css";

.ib-editor-shell {
    color: #000;
    position: relative;
    line-height: 1.7;
    font-weight: 400;

    /* Defaults so marker styling never goes "invisible" */
    --listitem-marker-color: #111;
    --listitem-marker-font-family: inherit;
    --listitem-marker-font-size: 1em;
    --listitem-marker-background-color: transparent;
}

.ib-editor-shell .ib-editor-container {
    background: #fff;
    position: relative;
    display: block;
}

.ib-editor-scroller {
    min-height: 150px;
    max-width: 100%;
    border: 0;
    display: flex;
    position: relative;
    outline: 0;
    z-index: 0;
    resize: vertical;
}

.ib-editor {
    flex: auto;
    max-width: 100%;
    position: relative;
    resize: vertical;
    z-index: 0;
}

.ib-editor-input {
    min-height: 150px;
    resize: none;
    font-size: 15px;
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 15px 10px;
    caret-color: #444;
}

.ib-editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    left: 10px;
    font-size: 15px;
    user-select: none;
    display: inline-block;
    pointer-events: none;
}