.floatingToolbar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    height: 2.1875rem;
    align-items: center;
    border-radius: 0.5rem;
    background: #ffffff;
    padding: 0.25rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 500ms;
    will-change: transform;
}

.icon {
    height: 1.125rem;
    width: 1.125rem;
}